    <!-- Field Table -->
    <div id="main-container" class="container-fluid" style="width: 100%; max-width: 1082px; margin: 0 auto; clear: both;padding-top: 130px; min-height: calc(100vh - 70px); width: 1082px;">
        <!-- <section class="section">
            <div class="container" style="text-align: center; background-color: white;"> PICK 15 PLAYERS | BUDGET: 100m
            </div>
        </section> -->
        <section class="main-section" style="width: 100%; max-width: 1082px; padding: 30px; margin: 0 0 40px;
            background: #ffffff;
            border: 1px solid #dddddd; height: 50%;">
        <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-6">
        <h1 class="heading"
                style="color: white; background-color: #5D0E5E; align-content: center; text-align: center;">
                Log In
            </h1>
        </div>
        <div class="col-sm-6">
        <h1 class="heading"
                style="color: white; background-color: #5D0E5E; align-content: center; text-align: center;">
                Sign Up
            </h1>
        </div>
        </div>

        <div class="row">
            <div class="col-sm-6" style="padding-bottom: 15px; align-content:center; text-align:center;"> 
                {{#if error}}
                <div class="error" style="color:red">
                    {{error}}
                </div>
                {{/if}}
                <form action="/login" method="POST" style="align-content: center; text-align:center;">
                    <p style="align-content: center; text-align:center; padding-bottom: 15px;">
                        Email:
                        <input type="text" name="email" placeholder="email@example.com">
                    </p>
                    <p style="align-content: center; text-align:center; padding-bottom: 15px;">
                        Password:
                        <input type="password" name="password" placeholder="password">
                    </p>
                    <input type="submit" class="btn btn-secondary" value="Login">
                </form>
            </div>

            <div class="col-sm-6" style="padding-bottom: 15px;"> 
                <p>
                    <h1 style="align-content: center; text-align:center; font-size: 22px;">Don't have a UNCC Fantasy League account?</h1>
                    <br>
                    <br>
                    <h2 style="align-content: center; text-align:center; font-size: 18px;">Click below to register and you will gain access to:</h2> 
                    <p style="align-content: center; text-align:center;">The UNCC Fantasy Football Team Picker</p>
                    <br>
                    <h2 style="align-content: center; text-align:center; font-size: 18px;"> Upcoming Possible Updates to the Picker Include:</h2>
                    <p style="align-content: center; text-align:center;"> A maximum budget for spending on players
                    <br> A way to save points earned from team players
                    <br> A section for sharing scores and competing with your friends</p>
                </p>    
                <div class="row" style="margin-top: 20px; float: center; justify-content: center; align-content: center; text-align: center;">
                    <a class="btn btn-secondary" href="register"> Register </a>
                </div>
            </div>
        </div>
    </div>
    </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/signup.js"></script>


  