   <div class="container" style="width: 100%; max-width: 1082px; margin: 0 auto; clear: both;padding-top: 130px; min-height: calc(100vh - 70px); width: 1082px;">
    <div class="row" style="width: 100%; max-width: 1082px; padding: 30px; margin: 0 0 40px;
            background: #ffffff; border: 1px solid #dddddd; height: 50%; align-content: center; justify-content: center;">
      <div class="col-sm-6" style="align-content: center; justify-content: center;">
        <h1 style="color: white; background-color: #5D0E5E; align-content: center; text-align: center; font-size: 32px;">
        Sign Up Form
        </h1>
        <br>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputEmail1" style="font-size:18px;">Username</label>
            <input type="text" class="form-control" id="user-name" placeholder="John Smith">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" style="font-size:18px;">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" style="font-size:18px;" style="font-size:18px;">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <input type="submit" class="btn btn-secondary" value="Sign Up">
        </form>
        <br />
        <p style="font-size:18px;">Or log in <a href="/login">here</a></p>
      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- JavaScript -->
<!-- jQuery first, then Popper.js, then personal script  -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/signup.js"></script>

