    <!-- Field Table -->
    <div id="main-container" class="container-fluid" style="width: 100%; max-width: 1082px; margin: 0 auto; clear: both;padding-top: 130px; min-height: calc(100vh - 70px); width: 1082px;">
        <!-- <section class="section">
            <div class="container" style="text-align: center; background-color: white;"> PICK 15 PLAYERS | BUDGET: 100m
            </div>
        </section> -->
        <section class="main-section" style="width: 100%; max-width: 1082px; padding: 30px; margin: 0 0 40px;
            background: #ffffff;
            border: 1px solid #dddddd; height: 780px;">
            <h1 class="heading"
                style="color: white; background-color: #5D0E5E; align-content: center; text-align: center;">
                Choose Your Team:
            </h1>
            <!-- Forms for choosing players -->
            <div class="container" style="background-color:#666666;">
            <div class="col-sm-3" style="float: left; background-color:#666666;">
            <form id="playerSearch" style="margin-bottom: 40px; background-color:#666666; text-align: center;">
                    <label style="color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
                    Goalkeepers:
                    </label>
                    </br>
                    <input type="text" style="margin-bottom: 15px; width: 150px;"></input>
                    <input type="submit"></input>
                    </form>
            <form id="playerSearch" style="margin-bottom: 40px; background-color:#666666; text-align: center;">
                    <label style="color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
                    Defenders:
                    </label>
                    </br>
                    <input type="text" style="margin-bottom: 15px; width: 150px;"></input>
                    <input type="submit"></input>
                    </form>
            <form id="playerSearch" style="margin-bottom: 40px; background-color:#666666; text-align: center;">
                    <label style="color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
                    Midfielders:
                    </label>
                    </br>
                    <input type="text" style="margin-bottom: 15px; width: 150px;"></input>
                    <input type="submit"></input>
                    </form>
            <form id="playerSearch" style="margin-bottom: 40px; background-color:#666666; text-align: center;">
                    <label style="color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
                    Forwards:
                    </label>
                    </br>
                    <input type="text" style="margin-bottom: 15px; width: 150px;"></input>
                    <input type="submit"></input>
                    </form>
            </div>
            <div class="col-sm-9" style="float: right;">
            <div class="table-responsive"
                style="margin:auto; align-content: center; text-align: center; width:100%; height:600px; background-image: url(../../public/assets/images/fieldExact.jpg); background-size: cover; background-repeat: no-repeat;">
                <table
                    style="margin:auto; align-content: center; text-align: center; width:100%; height: 25%; color: white;">
                    <tr>
                        <td style="align-content: center; width: 50%;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            Goalkeeper
                        </td>
                        <td style="align-content: center; width: 50%;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            Goalkeeper
                        </td>
                    </tr>
                </table>
                <table
                    style="margin:auto; align-content: center; text-align: center; width:100%; height: 25%; color: white;">
                    <tr>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            Defender
                        </td>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            Defender
                        </td>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            Defender
                        </td>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            Defender
                        </td>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            Defender
                        </td>
                    </tr>
                </table>
                <table
                    style="margin:auto; align-content: center; text-align: center; width:100%; height: 25%; color: white;">
                    <tr>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            <span class="tag" style="bottom:0%;">Midfielder</span>
                        </td>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            <span class="tag">Midfielder</span>
                        </td>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            <span class="tag">Midfielder</span>
                        </td>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            <span class="tag">Midfielder</span>
                        </td>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            <span class="tag">Midfielder</span>
                        </td>
                    </tr>
                </table>
                <table
                    style="margin:auto; align-content: center; text-align: center; width:100%; height: 25%; color: white;">
                    <tr>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            Forward
                        </td>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            Forward
                        </td>
                        <td style="align-content: center;">
                            <img src="../../public/assests/images/logosm.png" alt="" style="height:100px; width:100px;">
                            </br>
                            Forward
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
        <div class="row" style="width: 100%;">
        <div class="container" style="margin-top: 10px; border-top: 6px solid #666666; color: white; background-color: #5D0E5E; align-content: center; text-align: center;">
                <a class="button" href="field.handlebars" style="color:#ffffff; font-size: 20px;">SAVE</a> 
                | 
                <a class="button" href="field.handlebars" style="color:#ffffff; font-size: 20px;"> RESET </a>
        </div>
        </div>
        </section>
        </section>
    </div>
    </div> 



<div class="push"></div>
</div>
