<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Title & Heading -->
    <title>Fantasy Soccer Team</title>

</head>

<!-- Body -->

<body>

<!-- Header -->

 <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #5d0e5e">
        <a class="column is-two-thirds" href="mainpage.html">
            <img src="./assets/Logo UNCC.png"  alt="Logo" style="height: 100%; width: 200px;">
        </a>
        <!-- https://courses.cs.washington.edu/courses/cse154/cp/18au/cp5/inkling/barclays-logo.png -->

        <div class="section column is-one-third" style="float: right;">

             <!-- {{#if user}}
            {{user.email}} |  -->
            <a class="button" href="./mainpage.html"> Login </a> |


             <!-- {{else}} -->

            <a class="button" href="./register.html"> Register </a> |
            <!-- {{/if}} -->

            <!-- <a class="button" href="/logout.html"> Logout </a> -->
        </div>
    </nav>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>


   


    <!-- <div class="column is-three-quarters" id="field" style="height: 65vh;">
          <div class="section has-text-centered" style="height: 65vh; background-image: url(field.jpg); background-size: cover; background-repeat: no-repeat;">
           FIELD
          </div>
        </div>
      </div>
    </div>
    </div>
    </div> -->


    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js  -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</body>

</html>