<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Title & Heading -->
    <title>Fantasy Soccer Team</title>

</head>

<!-- Body -->

<body>

<!-- Header -->



 

    <!-- Shows amount of players chosen and budget that is left-->
    <div class="section">

    </div>

    <!-- Input/Output Sections -->

    <!-- Input -->

    <div class="row row-no-gutters">
        <section>
            <div class="container" style="width: 800px; height: 600px;">
                <div class="columns is-multiline" style="height: 600px;">
                    <div class="column is-one-quarter" style="height: 600px;">
                        <div style="height: 600px; background-color: #5D0E5E">
                            <form id="playerSearch" style="text-align: center;">
                                <label
                                    style="color: white; font-size: 28px; font-family: Arial, Helvetica, sans-serif;">
                                    Choose your players:
                                </label>
                                <button style="margin-bottom: 5;">RESET</button>
                                </br>
                                <input type="text"></input>
                                <input type="submit"></input>
                            </form>
                        </div>
                    </div>



                    <!-- Output -->
                    <div class="column is-three-quarters" style="height: 600px; float: right;">
                        <div class="gallery">
                            <div class="container" style="height: 600px; width: 800px;">
                                <figure class="gallery__img" style="height: 600px; width: 800px;">
                                    <img src="field.jpg" height="100vh" width="800px" alt="Field">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </section>
    </div>


    <!-- <div class="column is-three-quarters" id="field" style="height: 65vh;">
          <div class="section has-text-centered" style="height: 65vh; background-image: url(field.jpg); background-size: cover; background-repeat: no-repeat;">
           FIELD
          </div>
        </div>
      </div>
    </div>
    </div>
    </div> -->


    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js  -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</body>

</html>