<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Fantasy Football Main Page</title>
</head>

<body>

    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #5d0e5e">
        <a class="column is-two-thirds" href="mainpage.html">
            <img src="../../public/assests/images/Logo-UNCC.png"  alt="Logo" style="height: 100%; width: 200px;">
        </a>
        <!-- https://courses.cs.washington.edu/courses/cse154/cp/18au/cp5/inkling/barclays-logo.png -->

        <div class="section column is-one-third" style="float: right;">

             <!-- {{#if user}}
            {{user.email}} |  -->
            <a class="button" href="./mainpage.html"> Login </a> |


             <!-- {{else}} -->

            <a class="button" href="./register.html"> Register </a> |
            <!-- {{/if}} -->

            <!-- <a class="button" href="/logout.html"> Logout </a> -->
        </div>
    </nav>

    {{{ body }}}
    
</body>

</html>