<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fantasy Football Register Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>

<body>

  <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #5d0e5e">
    <a class="column is-two-thirds" href="mainpage.html">
      <img src="./assets/Logo UNCC.png" alt="Logo" style="height: 100%; width: 200px;">
    </a>
    <!-- https://courses.cs.washington.edu/courses/cse154/cp/18au/cp5/inkling/barclays-logo.png -->

    <div class="section column is-one-third" style="float: right;">

      <!-- {{#if user}}
            {{user.email}} | -->
      <!-- <a class="button" href="/login"> Login </a> | -->


      <!-- {{else}} -->
      <!-- 
      <a class="button" href="/register"> Register </a> | -->
      <!-- {{/if}} -->

      <!-- <a class="button" href="/logout.html"> Logout </a> -->
    </div>
  </nav>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1><strong>Sign Up Form</strong></h1>
        <br>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" id="user-name" placeholder="John Smith">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="./mainpage.html">here</a></p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>

</body>

</html>